div{
        padding-top: 250px;
        text-align: center; 
        
}
img{
   
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h3, p{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    margin: 10px auto;
}
body{
    background-color: #f0f8ffc7;
}
